*{
  margin:0;
  box-sizing:border-box;
}
body {
  text-align: center;
}
h1 {
  font-size: 100px;
  text-align: center;
  color: white;
  background-color: black;
  padding: 50px;
}
h2 {
  text-align: center;
  font-size: 70px;
}
body img {
  border: 10px;
  width: 450px;
  align-items: center;
}
.p-1 {
  font-weight: 200px;
  font-size: 60px;
}
.p-2 {
  font-size: 50px;
}
.p-3 {
  font-size: 50px;
}
.p-4 {
  background-color: black;
  color: white;
  font-size: 50px;
  padding: 20px;
}
body {
    background-color: aqua;
}
